<!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Koppla in Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="css/style.css">

    <!-- Koppla in och JQuery Bootstrap javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>


<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

    <!-- Koppla in egen JavaScript-fil funktion.js OBS! Ha den som sista js-fil -->
    <script type="text/javascript" src="js/funktion.js"></script>






    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
    <title>Movie reviews and facts</title>
</head>

<!-- I body finns allt innehåll på hemsidan -->
<body ng-app="app">
<nav class="nav navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
                <ul class="nav navbar-nav">
                    <li><a href="menyval1.html">Reviews</a></li>
                    <li><a href="menyval2.html">TV's impact on the world</a></li>
                    <li><a href="menyval3.html">The history of TV and streaming</a></li>
                    <li><a href="menyval4.html">Top 10 series, movies, and such (imo)</a></li>
                </ul>
            </div>
        </nav>







<style type="text/css">
.centered {  text-align: center; list-style-position: inside; }
</style>

<img src="bilder/matrix.jpg" width="20%">

<img src="bilder/karatekid.jpg" width="15%">

<img src="bilder/swlogo.png" width="30%">

<img class="right" src="bilder/RnMlogo.png" width="40%">

 <ol class="centered">
     <li>Brooklyn Nine-Nine - 2013-...</li> 
     <li>How I Met Your Mother- 2005-2014</li>
     <li>The Star Wars Movie Franchise -  1977-...</li>
     <li>Matrix - 1999</li>
     <li>Rick and Morty - 2013-...</li>
     <li>Friends - 1994-2004</li>
     <li>Die Hard - 1988</li>
     <li>Deadpool - 2016</li>
     <li>Modern Family - 2009-...</li>
     <li>Karate Kid - 1984</li>
 </ol>

<img id="idk" src="bilder/diehard.png" width="20%">

<img src="bilder/deadpool.jpg" width="30%">

<img src="bilder/modernfamilylogo.png" width="15%">

<img class="right" src="bilder/brooklynlogo.png" width="40%">




<div ng-controller="KommentarControl">
       <h3 id="asdf"> Comment your favorite movie or series </h3>
      <div ng-repeat="kommentar in kommentarer">
       <p><b>{{ kommentar.skribent }}:</b> {{ kommentar.text}}</p>
      </div>
      <form ng-submit="addComment()">
    <div class="form-group">
        <input placeholder="Your Name" type="text" class="form-control" ng-model="kommentar.skribent">
    </div>
    <div class="form-group">
        <input placeholder="Your Comment" type="text" class="form-control" ng-model="kommentar.text">
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
</form>
</div>





</body>
</html>